.contenedor{
    background-color: #ffff33d7;
    padding:12px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article{
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
    text-align: justify;
}

h1{
    color: #ee7238;
}

.aceptar{
    background-color: aquamarine;
    color: #ee7238;
    border: solid 1px;
    width: 200px;
    height: 50px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #6062d6;

}

